.row-cover {
  .row {
  padding: 0 45px ;
  }
}

.other-courses {
  margin-top: 100px;

  &-title {
    font-family: $font_UTM_BryantLG;
    font-size: 80px;
    font-weight: 800;
    line-height: 96px;
    letter-spacing: -2px;
    color: $hapo_learn_button_text_hover;
    -webkit-text-stroke-width: 2px;
                    
    &-underline {
      width: 470px;
      height: 6px;
      background-color: $button_color;
      border-radius: 3px;
      margin-top: 15px;
      margin-bottom: 70px;
    }
  }
  
  .view-all-our-courses {
    margin-top: 50px;
    color: $view_all_our_courses_color;
    font-family: $font_UTM_BryantLG;
    font-size: 40px;
    font-weight: 700;
    text-decoration: none;
    -webkit-text-stroke-width: 1.5px;
    cursor: pointer;

    img {
      margin-left: 20px;
      vertical-align: middle;
    }
  }

  .view-all-our-courses:hover {
    transform: scale(1.2);
  }
}

.other-courses-item {     
  &-card {
    @include main_courses_item_card ;
  }
}

.other-courses-item-card {
  .css-image {
    background-color: $css_tutorial_background_color;
    @include common_for_courses_image ;
  }

  .rails-image {
    background-color: $rails_tutorial_background_color;
    @include common_for_courses_image ;
  }

  .java-image {
    background-color: $java_tutorial_background_color;
    @include common_for_courses_image ;
  }

  .card-content-title {
    @include card_content_title ;
  }

  .card-content-body {
    font-family: $font_UTM_BryantLG;
    font-weight: bold;
    font-size: 14.5px;
    overflow: hidden;
    line-height: 21px;
    text-align: center;
    width: 294px;
    height: 42px;
    letter-spacing: 0.5px;
    margin-bottom: 0;
  }

  .courses-button {
    @include courses-button ;
  }

  .courses-button:hover {
    color: $hapo_learn_button_text_hover !important;
  }
}

@media screen and (max-width: 2012px) and (min-width: 1600px) {
  .other-courses {
    .row {
      max-width: 62vw;
    }

    .card-content-body {
      margin-bottom: 0;
    }
  }
}

@media screen and (max-width: 1300px) and (min-width: 1024px) {
  .other-courses-item-card {
    .card-content-title {
      font-size: 25px;
      letter-spacing: -1.5px;
    }

    .card-content-body {
      width: fit-content;
    }
  }
}

@media screen and (max-width: 1024px) {
  .other-courses {
    margin-top: 40px;

    &-title {
      height: 85px;
      font-size: 50px;

      &-underline {
        width: 290px;
        height: 4px;
        margin-bottom: 30px;
        margin-top: 0;
      }
    }

    .view-all-our-courses {
      font-size: 28px;
      margin-top: 35px;

      img {
        width: 34px;
        height: 19px;
        margin-left: 10px;
      }
    }
  }

  .other-courses-item {
    height: 280px;

    &-card {
      margin: 0 5px;
      width: 100%;

      &-content {
        padding: 0;
      }

      .cover-image {
        @include common_for_courses_image_media_769px ;
      }

      .custom-image {
        width: 70%;
        height: auto;
      }

      .card-content-title {
        font-size: 18px !important;
        line-height: 20px !important;
        @include card_content_title_media_769px ;
      }

      .card-content-body {
        font-size: 14px;
        overflow: hidden;
        line-height: 18.75px;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical; 
        width: 198px;
        height: 65px;
        margin-top: 3px
      }
      
      .courses-button {
        @include courses_button_media_769px ;
      }
    }
  }
}

@media screen and (max-width: 740px) and (min-width: 576px) {
  .other-courses {
    .row {
      padding: 0;
    }
  }

  .other-courses-item-card {
    .card-content-body {
      font-size: 14px;
      letter-spacing: -1px;
      width: fit-content;
      overflow: hidden;
    }
  }
}

@media screen and (max-width: 575px) {
  .other-courses {
    margin-top: 20px;

    &-title {
      height: 85px;
      font-size: 40px;

      &-underline {
        width: 230px;
        height: 4px;
        margin-bottom: 30px;
        margin-top: 0;
      }
    }

    .view-all-our-courses {
      font-size: 24px;
      margin-top: 25px;
      -webkit-text-stroke-width: 0.5px;

      img {
        width: 31px;
        height: 16px;
        margin-left: 5px;
      }
    }
  }

  .other-courses-item {
    height: 389px;
    margin: 15px 0px;

    &-card {
      @include main_courses_item_card_media_575px ;

      .cover-image {
        @include common_for_courses_image_media_575px ;
      }

      .card-content-title {
        font-size: 20px !important;
        @include card_content_title_media_575px ;
      }

      .card-content-body {
        @include main_courses_card_content_media_575px ;
        letter-spacing: -0.5px
      }
      
      .courses-button {
        @include courses-button_media_575px ;
      }
    }
  }
}
