.reviews-tab {
  font-family: $font_UTM_BryantLG;
  color: $text_color;

  .total-reviews {
    font-size: 25px;
    line-height: 30px;
    font-weight: 700;
    padding: 30px 0px 15px 15px;
    border-bottom: 2px solid #F3F0F0;
    -webkit-text-stroke-width: 0.4px;
  }
  
  .border-bot {
    height: 2px;
    background: #F3F0F0;
  }

  .rating-overview {
    margin: 20px 0 30px 10px;
    height: 175px;
    background: #505353;
    color: $white_color;
    border-radius: 5px;

    .average-rating {
      margin-bottom: 5px;
      font-size: 60px;
      line-height: 50px;
      font-weight: 700;
      -webkit-text-stroke-width: 0.4px;
    }

    .average-rating-star {
      color: #FFD567;
    }

    .fas.fa-star {
      color: #FFD567;
    }

    .total-rating {
      font-size: 17px;
      line-height: 30px;
      font-weight: 400;
    }
  }

  .rating-specific {
    margin: 20px 0 30px 10px;
    height: 175px;
    color: $text_color;
    border-radius: 5px;
    border: 2px solid #F3F0F0;
    font-size: 17px;
    line-height: 20px;

    .row {
      padding: 0 15px;
    }

    .number {
      margin-top: 12px;
    }

    .number-star, .number-vote {
      font-size: 19px;
      position: relative;
      bottom: 2px;
    }

    .progress {
      padding: 0;
      margin-top: 5px;
      height: 12px;
      border-radius: 10px;
    }

    .number-vote {
      padding-left: 0;
    }

    .fas.fa-star {
      color: #FFD567;
    }
  }

  .show-all-review {
    .all-review {
      font-size: 22px;
      line-height: 24px;
      font-weight: 700;
      margin-top: 25px;
      margin-left: 10px;
      -webkit-text-stroke-width: 0.3px;
    }
  }

  .submit-review {
    margin-top: 20px;

    .title {
      margin-top: 25px;
      font-size: 24px;
      line-height: 26px;
      font-weight: 700;
      -webkit-text-stroke-width: 0.4px;
    }

    .form-group {
      margin-top: 20px;
    }
  }

  label.star {
    background-image: url(../assets/img/gray_star.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 16px;
    height: 17px;
    float: right;
    cursor: pointer;
    margin: 0px;
    margin-right: 7px;
  }

  input.star:checked~label.star {
    background-image: url(../assets/img/yellow_star.png);
  }

  input.star:hover~label.star {
    background-image: url(../assets/img/yellow_star.png);
  }

  .review-item {
    margin-top: 30px;
    padding-bottom: 15px;
    border-bottom: 2px solid #F3F0F0;
    font-family: Arial, Helvetica, sans-serif;

    .user-avatar img {
      width: 40px;
      height: 40px;
      border-radius: 50%;
      object-fit: cover;
    }

    .user-name {
      font-family: $font_UTM_BryantLG;
      font-size: 20px;
      line-height: 22px;
      font-weight: bold;
      letter-spacing: -0.05px;
      -webkit-text-stroke-width: 0.4px;
      margin-left: 10px;
      margin-bottom: 5px;
    }

    .rate {
      color: #FFD567;
      margin-left: 15px;
    }

    .review-time {
      margin-left: 30px;
    }

    .content {
      margin-top: 15px;
      padding: 0 10px;
      font-size: 18px;
      line-height: 26px;
    }
  }

  textarea.form-control {
    color: #505353;
    font-family: Arial, Helvetica, sans-serif;
  }

  .btn-send {
    width: 80px;
    height: 30px;
    border-radius: 20px;
    background: $button_color;
    color: $white_color;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;

    p {
      font-weight: bold;
    }
  }

  .pick-rate {
    margin-top: 5px;
  }
}